.activities-container {
    padding: 0;
    margin: 0 auto; /* Fortsæt med at centrere containeren */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.activity-link {
    text-align: center;
    width: 100%;
    display: block;
    text-decoration: none;
    color: #0E5D0E;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 0;
    margin: 5px 0;
    transition: color 0.3s ease;
}

.activity-link:hover {
    color: #0508ef;
}
